.inputs-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    background: linear-gradient(to top, #000000, #0d0d0d 5%);
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 16px; 
  }
.inputs-card-container-left {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 15px;
}

.inputs-card-container-right {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    align-items: flex-end; 
    gap: 10px; 
}

.inputs-card-container-right input {
    margin-left: 5px;
    align-content: right;
    width: 15%;
    text-align: center;
}

.inputs-card-container-right label {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.apply-button {
    background: linear-gradient(to top right, #faacac, #f4e4e4);
    color: #000000; 
    border: 2px solid transparent; 
    padding: 10px 20px; 
    border-radius: 10px;
    cursor: pointer; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 16px; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-top: 5px;
    background-clip: padding-box; 
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2)); 
}

.apply-button:hover {
    background: linear-gradient(to top right, #faacac, #fef8a1); 
    background-clip: padding-box; 
}


