.item-panel {
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    overflow: hidden;
  }
  
  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    overflow-y: auto;
    overflow: hidden;
    
  }
  
  .messageBarContainer {
  display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #ffffff, pink, #a1bff8);
    background-size: 200% 100%;
    animation: gradient-shift 2s linear infinite;
    color: black;
    width: 100%;
    border-radius: 5px;
  }

  .messageBarContainer label {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
  }
@keyframes gradient-shift {
    0% {
    background-position: 100% 50%;
    }
  100% {
    background-position: 0% 50%;
    }
  }

  .delete-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }
  
  .small-square {
    color: black;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fall-in-animation 0.5s forwards ease-out;
    transition: background-color 0.3s, transform 0.3s;


  }
  
  .small-square:hover {
    /* Example hover styles for the element */
    background-color: #f5f2f2e3;
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .small-square:active {
    /* Example hover styles for the element */
    background-color: #a6a3a3e3;
    transform: translateY(-5px);
    cursor: pointer;
  }

  .small-square:active img{
    opacity: 0.5;
    animation: expandWidth 1s forwards;
  }

  .small-square img{
    width: 60%;
  }


  /* Adding keyframes for the width transition */
@keyframes expandWidth {
  from {
    width: 60%;
  }
  to {
    width: 70%;
  }
}


  .small-square.fade-out {
    animation: fade-out-animation 1s forwards ease-out;
    pointer-events: none; /* Prevent hover events during fade-out */
  }

  
  
  /* Keyframes */
  @keyframes fall-in-animation {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-out-animation {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  

  



/* prevent Inputs to verflow */
.createItemCard input[type="text"],
.createItemCard textarea {
    width: 100%; /* Make inputs and textarea take full width of the container */
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.createItemCard .add-item-input {
    min-height: 80px; /* Adjust height as needed */
    resize: vertical;
}

.createItemCard button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(270deg, #ffffff, pink, #a1bff8);
    background-size: 200% 100%;
    color: black;
    cursor: pointer;
}

.createItemCard button:hover {
    background-color: #0056b3;
}